#social-icons-main {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  /* z-index: 0; */
  margin-bottom: 10px;
}
#social-icons-main > h1 {
  font-size: 2.5rem;
  color: rgb(95, 92, 92);
}
.icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  text-align: center;
  bottom: 0px;
  width: 100%;
  /* border: 2px solid red; */
}
.icons li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  height: 6rem;
  width: 6rem;
  background: #091921;
  border-radius: 50%;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.993),
    2px 2px 6px rgba(255, 255, 255, 0.8);
}

.icons li i {
  color: #ffffff;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  line-height: 6rem;
  position: relative;
}
.icons .first:hover {
  box-shadow: -1px -1px 10px rgb(66, 103, 178), 2px 2px 12px rgb(66, 103, 178);
}
.icons .second:hover {
  box-shadow: -1px -1px 10px #1da1f2, 2px 2px 12px #1da1f2;
}
.icons .third:hover {
  box-shadow: -1px -1px 10px #e1306c, 2px 2px 12px#E1306C;
}
.icons .fourth:hover {
  box-shadow: -1px -1px 14px #ad5c51, 2px 2px 12px #ad5c51;
}
.icons .fifth:hover {
  box-shadow: -1px -1px 10px #c4302b, 2px 2px 12px #c4302b;
}
